
@{
    ViewBag.Title = "DashBoard";
}
<link href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/AdminLTE/plugins/jQuery/jQuery-2.1.3.min.js"></script>
<style>
    tbody td.details-control {
        background: url('../../Images/details_open.png') no-repeat left center;
        cursor: pointer;
    }

    td.details-control-click {
        cursor: pointer;
    }

    tr.details td.details-control {
        background: url('../../Images/details_close.png') no-repeat left center;
    }

    .stylechange p {
        font-size: 10px;
        font-weight: bold
    }

    #styleforinner {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #styleforinner td, #styleforinner th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #styleforinner tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #styleforinner tr:hover {
            background-color: #ddd;
        }

        #styleforinner th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: grey;
            color: white;
        }
</style>
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Dashboard
        <small>Control panel</small>
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="form-group" style="padding-left:15px">
            <form class="form-inline">
                <div class="form-group mr-2">
                    <label class="sr-only" for="fromDate">From Date: </label>
                    <input type="text" class="form-control" id="fromDate" placeholder="From Date">
                </div>
                <div class="form-group mr-2">
                    <label class="sr-only" for="toDate">To Date: </label>
                    <input type="text" class="form-control" id="toDate" placeholder="To Date">
                </div>
                <button type="button" class="btn btn-primary" onclick="reloadGrid()">Search</button>
            </form>
        </div>

    </div>
    <!-- Small boxes (Stat box) -->
    <div class="row" style="font-weight: bold;">

        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua stylechange">
                <div class="inner">
                    <div class="col-lg-8">
                        <p>Total Target</p>
                        <p>This Month Order</p>
                        <p>This Month Sale</p>
                        <p>Remaining Target</p>
                    </div>
                    <div>
                        <p id="totalTarget">150</p>
                        <p id="thisMonthOrder">150</p>
                        <p id="thisMonthSale">150</p>
                        <p id="remainingTarget">150</p>
                    </div>
                </div>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green stylechange">
                <div class="inner">
                    <div class="col-lg-8">
                        <p>Total Recovery Target</p>
                        <p>&nbsp;&nbsp;</p>
                        <p>Total Received</p>
                        <p>Remaining Recovery</p>
                    </div>
                    <div>
                        <p id="totalRecoveryTarget">150</p>
                        <p>&nbsp;&nbsp;</p>
                        <p id="totalReceived">150</p>
                        <p id="remainingRecovery">150</p>
                    </div>
                </div>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow stylechange">
                <div class="inner">
                    <div class="col-lg-8">
                        <p>Total Cash In Hand</p>
                        <p>&nbsp;&nbsp;</p>
                        <p>Total In Banks</p>
                        <p>Total Cash & Banks</p>
                    </div>
                    <div>
                        <p id="totalCashInHand">150</p>
                        <p>&nbsp;&nbsp;</p>
                        <p id="totalInBanks">150</p>
                        <p id="totalCashAndBanks">150</p>
                    </div>
                </div>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red stylechange">
                <div class="inner">
                    <div class="col-lg-8">
                        <p>Total Purchase Order</p>
                        <p>&nbsp;&nbsp;</p>
                        <p>Total Purchase</p>
                        <p>Remaining Purchase</p>
                    </div>
                    <div>
                        <p id="totalPurchaseOrder">150</p>
                        <p>&nbsp;&nbsp;</p>
                        <p id="totalPurchase">150</p>
                        <p id="remainingPurchase">150</p>
                    </div>
                </div>
            </div>
        </div><!-- ./col -->
    </div><!-- /.row -->
    <div class="row" style="font-size:12px;">
        <div class="col-lg-6">
            <h2><b><u>Party Wise Sale</u></b></h2>
            <table id="example" class="display" style="width: 100%">
                <thead>
                    <tr>
                        <th class="hide">Account Number</th>
                        <th></th>
                        <th>Name</th>
                        <th>Sales Target</th>
                        <th>Total Order</th>
                        <th>Total Sale</th>
                        <th>Remaining Sale</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                    <tr>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td style="padding-right: 6px">
                            <b>Total Amt</b>
                        </td>
                        <td style="padding-right: 6px">
                        </td>
                        <td style="padding-right: 6px">
                        </td>
                        <td style="padding-right: 6px">
                        </td>
                        <td style="padding-right: 6px">
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="col-lg-6">
            <h2><b><u>Party Wise Recovery</u></b></h2>
            <table id="partyWiseRecoveryGrid" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th class="hide">Account Number</th>
                        <th></th>
                        <th>Name</th>
                        <th>Recovery Target </th>
                        <th>Payment Received    </th>
                        <th>Remaining Recovery</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                    <tr>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td style="padding-right: 6px">
                            <b>Total Amt</b>
                        </td>
                        <td style="padding-right: 6px">
                        </td>
                        <td style="padding-right: 6px">
                        </td>
                        <td style="padding-right: 6px">
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

    </div>


    <div class="row" style="font-size:12px;">
        <div class="col-lg-6">
            <h2><b><u>Expenses</u></b></h2>
            <table id="expenseGrid" class="display" style="width: 100%">
                <thead>
                    <tr>
                        <th class="hide">Product Code</th>
                        <th></th>
                        <th>Name</th>
                        <th>Expense Target  </th>
                        <th>Total Expense   </th>
                        <th>Remaining Expense</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                    <tr>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td style="padding-right: 6px">
                            <b>Total Amt</b>
                        </td>
                        <td style="padding-right: 6px">
                        </td>
                        <td style="padding-right: 6px">
                        </td>
                        <td style="padding-right: 6px">
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="col-lg-6">
            <h2><b><u>Party Wise Purchase</u></b></h2>
            <table id="partyWisePurchaseGrid" class="display" style="width: 100%">
                <thead>
                    <tr>
                        <th class="hide">Account Number</th>
                        <th></th>
                        <th>Name</th>
                        <th>Total Purchase Order    </th>
                        <th>Total Purchase  </th>
                        <th>Remaining Purchase</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                    <tr>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td style="padding-right: 6px">
                            <b>Total Amt</b>
                        </td>
                        <td style="padding-right: 6px">
                        </td>
                        <td style="padding-right: 6px">
                        </td>
                        <td style="padding-right: 6px">
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</section><!-- /.content -->
@section Scripts{

    @*<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>*@

    <link href="https://nightly.datatables.net/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
    <script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>

    <link href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.js"></script>


    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>


    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
          rel="stylesheet">
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    <script src="~/Scripts/dashboard.js"></script>
}